* {
	box-sizing: border-box;
}

body,html{
	min-height: 100vh;
	margin:0;
	font-family: 'Yusei Magic';
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
  color: white;
}


img{
	max-width: 100%;
}

header {
	border-bottom: 1px solid grey;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body{
	display: flex;
	flex-direction: column;
}

main{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer{
	display: grid;
	grid-template-columns: 300px 300px;
	justify-content: center;
	grid-gap: 50px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;
}

.credits{
	text-align: right;
}

.logo{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
}

.logo img:not(:first-child){
	display:none;
}

.joke{
	font-size: 2vh;
	color: black;
  	border: 2px solid black;
  	padding: 1vh;
}

.joke:hover{
	background-color: #E8E8E8;
	cursor: url(../imgs/LuigiSelect.cur), auto;
}
